/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2711";

	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			sht45@44 {
				compatible = "sensirion,sht4x";
				reg = <0x44>;
			};

			bmp388@77 {
				compatible = "bosch,bmp380";
				reg = <0x77>;
			};

			tmp119@48 {
				compatible = "ti,tmp119";
				reg = <0x48>;
			};

			sgp40@59 {
				compatible = "sensirion,sgp40";
				reg = <0x59>;
			};
		};
	};
};
